/* 전체 폰트 설정 */
body {
  font-family: 'Nanum Gothic', sans-serif;

}

[data-amplify-authenticator] [data-amplify-router] {
  background-color: #E7DDDD;
}

.amplify-flex .amplify-label {
  font-size: 20px;

}

.amplify-input {
  background: #ffffff;
}

.amplify-button[data-variation='primary'] {
  background: #591823;
  border-radius: 8px;
};

.amplify-tabs-item[data-state=active] {
  color: #591823;
  border-color:  #591823;
  background-color:  #591823;
  transition-property: none;
}

.amplify-tabs-item:hover {
  color: #818181;
  cursor: pointer;
}

.amplify-tabs-item:focus {
  color: #591823;
}

.amplify-tabs-item:active {
  color: #591823;
}

.amplify-tabs-item[data-spacing] {
  color: #818181 ;

}

.amplify-tabs-item[data-state=active] {
  color: #591823 ;
  border-color: #E7DDDD var(--amplify-components-tabs-item-active-border-color);
  background-color: #E7DDDD var(--amplify-components-tabs-item-active-background-color);
  transition-property: none;
}

.amplify-button--link{
  color: #818181;
  --amplify-internalbutton-disabled-background-color : #591823;
};

.amplify-button--small{
  font-weight : 800;
};


