/* 전체 폰트 설정 */
body {
  font-family: 'Gothic A1', sans-serif;
}

.amplify-flex .amplify-label {
  font-size: 20px;

}

.amplify-button[data-variation='primary'] {
  background: linear-gradient(
    to right,
    #dc3545,
    #0055b8
  );
};

.data-amplify-container.data-amplify-router{
  background-color: #e7dddd;
};

.amplfy-flex amplify-tabs.amplify-tabs-item {
  background-color: #e7dddd;
};