/* 전체 폰트 설정 */
body {
  font-family: 'Nanum Gothic', sans-serif;
}

div {
  background-color: #E7DDDD;
}

.amplify-flex .amplify-label {
  font-size: 20px;

}

.amplify-button[data-variation='primary'] {
  background: #591823;
  border-radius: 8px;
};

.amplify-tabs-item[data-state="active"] {
  color:  #591823;
  border-color:  #591823;
  background-color:  #591823;
  transition-property: none;
}


